body {
    font-family: "Inika", sans-serif;
    color: #8b7969;
}

input,
textarea {
    font-family: inherit;
}

.header {
    border-bottom: 1px solid #e0dfde;
}

.header__title {
    text-align: center;
    font-weight: normal;
}

.content__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 40px 0;
}
