.confirm {
    width: 780px;
    margin: 0 auto;
}

.confirm__layout {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    border: 1px solid #e0dfde;
}

.confirm__layout > * + * {
    border-top: 1px solid #e0dfde;
}

.confirm__group {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
}

.confirm__group-title {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    background-color: #baa899;
    color: #fff;
}

.confirm__group-text {
    padding: 1rem 2rem;
}

.confirm__button-group {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1rem;
    align-items: baseline;
}

.confirm__submit-button {
    grid-column: 4;
}

.confirm__edit-button {
    grid-column: 5;
}

.confirm__button-group button {
    width: 100%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.confirm__submit-button button {
    background-color: #82756a;
    color: #fff;
    padding: 0.3rem 0;
}

.confirm__edit-button button {
    width: 100%;
    background-color: transparent;
    color: #8b7969;
    text-decoration: underline;
}

.display-none {
    display: none;
}
